---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Página No Encontrada - Servicios de Telecomunicaciones Chile SPA"
  description="Lo sentimos, la página que buscas no está disponible. Regresa al inicio o explora nuestros servicios en Servicios de Telecomunicaciones Chile SPA."
>
  <h1>404</h1>
</Layout>
