---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Página No Encontrada - Servicios de Telecomunicaciones Chile SPA"
  description="Lo sentimos, la página que buscas no está disponible. Regresa al inicio o explora nuestros servicios en Servicios de Telecomunicaciones Chile SPA."
>
  <div class="my-24 py-20 max-w-screen-xl mx-auto text-center">
    <h1 class="text-5xl font-bold">
      Error <span class="text-red-500">404</span>
    </h1>
    <h2 class="text-5xl font-bold">Pagina no Encontrada</h2>

    <div class="py-20">
      <a href="/" class="text-pretty text-[14pt] hover:text-red-500"
        >Por favor vuelva a la pagina principal haciendo clic aquí</a
      >
    </div>
  </div>
</Layout>
