---
import Layout from "../layouts/Layout.astro";
import InicioPresentacion from "../components/InicioPresentacion.astro";
import InicioCarrusel from "../components/InicioCarrusel.astro";
import InicioServicios from "../components/InicioServicios.astro";
import InicioUltimosProyectos from "../components/InicioUltimosProyectos.astro";
import InicioRecomendacion from "../components/InicioRecomendacion.astro";
import InicioMarcas from "../components/InicioMarcas.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Instalación telecomunicaciones, Corrientes débiles y seguridad electronica para grandes empresas, pequeñas empresas y particulares."
>
  <InicioCarrusel />
  <div class="max-w-screen-xl mt-24 mx-auto p-4">
    <InicioPresentacion />
  </div>

  <div class="mt-24">
    <InicioServicios />
  </div>
  <div class="max-w-screen-xl mt-24 mx-auto p-4">
    <InicioUltimosProyectos />
  </div>

  <div class="max-w-screen-xl mt-24 mx-auto p-4">
    <InicioRecomendacion />
  </div>

  <div class="max-w-screen-xl mt-24 mx-auto p-4">
    <InicioMarcas />
  </div>
</Layout>
