---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/Presentacion.astro";
import CarruselInicio from "../components/CarruselInicio.astro";
import InicioServicios from "../components/InicioServicios.astro";
---

<Layout
  title="Servicio de Telecomunicaciones Chile SPA"
  description="Instalación telecomunicaciones, Corrientes débiles y seguridad electronica para grandes empresas, pequeñas empresas y particulares."
>
  <CarruselInicio />
  <div class="max-w-screen-xl mt-24 mx-auto p-4">
    <Presentacion />
  </div>

  <div class="mt-24">
    <InicioServicios />
  </div>
</Layout>
