---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Sobre Nosotros - Servicios de Telecomunicaciones Chile SPA"
  description="Conoce a Servicios de Telecomunicaciones Chile SPA: más de 20 años de experiencia en corrientes débiles, seguridad electrónica y telecomunicaciones."
>
  <h1>Nosotros</h1>
</Layout>
