---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Políticas de Privacidad - Servicios de Telecomunicaciones Chile SPA"
  description="Consulta las políticas de privacidad de Servicios de Telecomunicaciones Chile SPA. Aquí explicamos cómo protegemos y gestionamos tu información personal."
>
  <h1>Políticas de Privacidad</h1>
</Layout>
