---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Políticas de Privacidad - Servicios de Telecomunicaciones Chile SPA"
  description="Consulta las políticas de privacidad de Servicios de Telecomunicaciones Chile SPA. Aquí explicamos cómo protegemos y gestionamos tu información personal."
>
  <div class="my-24 py-20 max-w-screen-xl mx-auto text-center">
    <h1 class="text-5xl font-bold">Políticas de Privacidad</h1>
    <h2 class="text-5xl font-bold">Pagina En construcción</h2>

    <div class="py-20">
      <a href="/" class="text-pretty text-[14pt] hover:text-red-500"
        >Por favor vuelva a la pagina principal haciendo clic aquí</a
      >
    </div>
  </div>
</Layout>
