---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Proyectos - Servicios de Telecomunicaciones Chile SPA"
  description="Explora los proyectos realizados por Servicios de Telecomunicaciones Chile SPA. Más de 20 años de experiencia en instalación de corrientes débiles y telecomunicaciones."
>
  <div class="my-24 py-20 max-w-screen-xl mx-auto text-center">
    <h1 class="text-5xl font-bold">Proyectos</h1>
    <h2 class="text-5xl font-bold">Pagina En construcción</h2>

    <div class="py-20">
      <a href="/" class="text-pretty text-[14pt] hover:text-red-500"
        >Por favor vuelva a la pagina principal haciendo clic aquí</a
      >
    </div>
  </div>
</Layout>
