---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Proyectos - Servicios de Telecomunicaciones Chile SPA"
  description="Explora los proyectos realizados por Servicios de Telecomunicaciones Chile SPA. Más de 20 años de experiencia en instalación de corrientes débiles y telecomunicaciones."
>
  <h1>Proyectos</h1>
</Layout>
