---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Servicios - Instalación de Corrientes Débiles, Seguridad Electrónica y Telecomunicaciones"
  description="Descubre los servicios de instalación de corrientes débiles, seguridad electrónica y telecomunicaciones que ofrece Servicios de Telecomunicaciones Chile SPA. Soluciones completas para tus necesidades tecnológicas."
>
  <h1>Servicios</h1>
</Layout>
