---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Términos y Condiciones - Servicios de Telecomunicaciones Chile SPA"
  description="Revisa los términos y condiciones para contratar y utilizar los servicios de Servicios de Telecomunicaciones Chile SPA. Información clave sobre nuestros servicios y acuerdos."
>
  <h1>Términos y Condiciones</h1>
</Layout>
