<div class="border border-gray-200 rounded-3xl shadow overflow-hidden">
  <div class="bg-[url('/carrusel2.webp')] bg-cover bg-center">
    <div class="bg-yellow-300/50">
      <div class="flex justify-center items-center gap-10 py-32">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">1000</h1>
          </div>
          <h2 class="font-black text-2xl">Recomendaciones</h2>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">2500</h1>
          </div>
          <h2 class="font-black text-2xl">Cotizaciones</h2>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">20</h1>
          </div>
          <h2 class="font-black text-2xl">Años de Experiencia</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="border border-gray-200 rounded-3xl shadow overflow-hidden">
    <div class="flex bg-[url('/carrusel2.webp')] bg-cover bg-center">
      <div
        class="flex flex-wrap w-full sm:justify-center sm:space-x-20 space-y-4 bg-yellow-300/40 px-4 sm:py-32 py-10 text-gray-950"
      >
        <div class="flex items-center">
          <div>
            <h1 class="font-bold sm:text-4xl text-2xl">+1000</h1>
            <p class="text-xl">Recomendaciones</p>
          </div>
        </div>
        <div class="flex items-center">
          <div>
            <h1 class="font-bold sm:text-4xl text-2xl">+1200</h1>
            <p class="text-xl">Proyectos</p>
          </div>
        </div>
        <div class="flex items-center">
          <div>
            <h1 class="font-bold sm:text-4xl text-2xl">+20</h1>
            <p class="text-xl">Años de Experiencia</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center bg-red-500">
      <div class="flex flex-col items-center py-12 px-4 text-gray-100">
        <h1 class="text-center text-2xl font-bold sm:leading-[4rem] pb-4">
          El futuro de las comunicaciones, aquí y ahora
        </h1>
        <hr class="sm:border-4 border-2 rounded-3xl w-32 border-yellow-300" />
        <p class="px-4 text-pretty sm:text-center pt-10 sm:text-xl text-base">
          En nuestra empresa de telecomunicaciones, ofrecemos una
          infraestructura robusta y servicios de vanguardia que garantizan una
          conectividad confiable y veloz. Con un equipo altamente capacitado y
          soluciones personalizadas, estamos en el lugar correcto para llevar su
          empresa al siguiente nivel en el mundo de las comunicaciones.
        </p>
      </div>
    </div>
  </div>
</div>
