---
import CheckIcono from "./Iconos/Check.astro";
import CheckPlusIcono from "./Iconos/CheckPlus.astro";
import ClipBoardIcono from "./Iconos/ClipBoard.astro";
---

<div class="border border-gray-200 rounded-3xl shadow overflow-hidden">
  <div class="bg-[url('/carrusel2.webp')] bg-cover bg-center">
    <div class="bg-yellow-300/50">
      <div class="flex justify-center items-center gap-10 py-24 px-14">
        <div class="flex flex-col">
          <CheckIcono class="size-24 mx-auto" />
          <div class="flex flex-row mx-auto">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">1000</h1>
          </div>
          <h2 class="font-black text-2xl">Recomendaciones</h2>
        </div>
        <div class="flex flex-col">
          <ClipBoardIcono class="size-24 mx-auto" />
          <div class="flex flex-row mx-auto">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">2500</h1>
          </div>
          <h2 class="font-black text-2xl">Cotizaciones</h2>
        </div>
        <div class="flex flex-col">
          <CheckPlusIcono class="size-24 mx-auto" />
          <div class="flex flex-row mx-auto">
            <span class="font-black text-5xl">+</span>
            <h1 class="font-black text-5xl">20</h1>
          </div>
          <h2 class="font-black text-2xl">Años de Experiencia</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-red-500 text-gray-50 py-24 text-center px-14">
    <h1 class="text-5xl font-bold">
      El futuro de las comunicaciones, aquí y ahora
    </h1>
    <hr class="h-1 bg-yellow-300 border-none rounded-2xl w-80 mx-auto" />
    <p class="text-2xl pt-10 text-pretty">
      En nuestra empresa de telecomunicaciones, ofrecemos una infraestructura
      robusta y servicios de vanguardia que garantizan una conectividad
      confiable y veloz. Con un equipo altamente capacitado y soluciones
      personalizadas, estamos en el lugar correcto para llevar su empresa al
      siguiente nivel en el mundo de las comunicaciones.
    </p>
  </div>
</div>
