---
import InovacionSVG from "./Iconos/InovacionSVG.astro";
import WhatsappIcono from "./Iconos/Whatsapp.astro";
---

<div class="flex flex-col items-center md:flex-row mx-auto w-full">
  <div class="flex flex-col justify-between leading-normal max-w-[650px] mr-10">
    <h1 class="mb-5 font-extrabold text-black">
      <span class="lg:text-6xl xl:text-[62pt] block mb-1">SERVICIOS DE </span>
      <span class="lg:text-4xl xl:text-[36pt] block mb-3"
        >TELECOMUNICACIONES
      </span>
      <span class="lg:text-4xl xl:text-[36pt] block text-red-500">
        CHILE SPA
      </span>
    </h1>
    <p class="mb-3 font-normal text-gray-700 lg:text-[18pt] text-pretty">
      Tenemos una amplia instalación de servicios, nuestra misión es ofrecer
      solución e innovación efectivas para Seguridad Electronica, Corrientes
      débiles y Telecomunicaciones.
    </p>

    <a
      href="#"
      target="_blank"
      type="button"
      class="mt-14 px-5 py-2.5 text-[16pt] font-medium text-gray-950 inline-flex items-center justify-center bg-yellow-300 hover:bg-yellow-200 focus:ring-4 focus:outline-none focus:ring-yellow-400 rounded-lg w-56"
    >
      <WhatsappIcono class="size-7 me-2" />
      Contactar
    </a>
  </div>
  <InovacionSVG />
</div>
